.search {
  position: relative;
  width: 80%;
  height: 2.3rem;
  border-bottom: 1px solid gray;
}
.searchInput {
  background-color: transparent;
  width: 100%;
  padding: 6px 10px;
  border: none;
  font-size: 1.2rem;
}

.searchInput:focus {
  outline: none;
  border-bottom: 3px solid gray;
}

@media screen and (max-width: 500px) {
  .search {
    width: 100%;
  }
}
